body {
  font-family: Avenir, 'Heiti SC', Arial, 'Heiti TC', Montserrat, 'Courier New';
}
h1, h2, h3, h4, p {
  text-align: center;
  color: red;
}
h1, p {
  margin-top: 0;
}
.logo {
  width: 100px;
  height: auto;
}
nav a {
  color: black;
}
a:hover {
  color: red;
  text-decoration: none;
}
li, a, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: black;
  text-decoration: none;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 30px 10%;
}
nav ul, li {
  display: inline-block;
  padding: 0px 20px;
}
nav ul, li, a {
  transition: all 0.2s ease 0s;
}
nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: black;
}
nav a {
  text-decoration: none;
  display: block;
}
.button {
  color: white;
  background-color: rgba(255, 0, 0, 1);
  padding: 0.5rem;
  border-radius: 5px;
}
.button:hover {
  color: white;
  background-color: rgba(255, 0, 0, 0.8);
}
.form-div {
  display: flex;
  justify-content: center;
}
@media (min-width: 850px) {
  nav {
      max-width: 1200px;
      margin: 0 auto;
  }
}

.styledlink {
  color: rgb(22, 22, 212);
  font-size: 1.8vw;
  text-decoration: underline;
  transition: all 0.2s ease-in-out;
}
.zoomlink {
  color: rgb(22, 22, 212);
  font-size: 1.2em;
  text-decoration: underline;
  transition: all 0.2s ease-in-out;
}
.styledlink:hover {
color: red;
}
.styledlink:active {
color: red;
}
.abouttext {
font-size: 26px;
padding: 50px 300px;
}
.photo {
display: block;
margin-left: auto;
margin-right: auto;
width: 20%;
}
.photo2 {
display: block;
margin-left: auto;
margin-right: auto;
width: 40%;
}
.photo3 {
display: block;
margin-left: auto;
margin-right: auto;
width: 70%;
}
.nodec {
color: black;
}
.center {
text-align: center;
}
.eventtext {
font-size: 1.6vw;
padding: 0px 300px;
}
.eventtext2 {
font-size: 1.6vw;
padding: 0px 300px;
color: black;
}
hr {
width: 70rem;
}
.biggerregister {
font-size: 20px;;
}



/*   SLIDESHOW MAIN PAGE   */

* {box-sizing: border-box}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
position: relative;
display: block;
margin-left: auto;
margin-right: auto;
width: 70%;
}
.sliderphoto {
height: 600px;
width:auto;
object-fit: cover;
}

/* Next & previous buttons */
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
margin-top: -22px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.4s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: red;
}

/* The dots/bullets/indicators */
.dot {
cursor: pointer;
height: 10px;
width: 10px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.4s ease;
}
.active, .dot:hover {
background-color: red;
}

/* Fading animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}
@-webkit-keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}
@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}